workflows/n8n/angers_geo_ingestion_template.json
{
  "name": "TrueSquare - Ingestion Geospatiale Angers -> Supabase (Safe Template)",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 260]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "dataset", "value": "angers-plui-zone" },
            { "name": "table_target", "value": "geo_plui" }
          ]
        }
      },
      "id": "setConfig",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [390, 260]
    },
    {
      "parameters": {
        "url": "=https://data.angers.fr/api/explore/v2.1/catalog/datasets/{{$json.dataset}}/exports/geojson?limit=10000",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetchDataset",
      "name": "Fetch Dataset (GeoJSON)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 260]
    },
    {
      "parameters": {
        "jsCode": "const features = $json.features || [];\nreturn features.map((f, i) => ({ json: {\n  source_feature_id: String(f.id || f.properties?.id || `${Date.now()}-${i}`),\n  table_target: $item(0).$node['Set Config'].json.table_target,\n  libelle_zone: f.properties?.libelle_zone || f.properties?.zone || 'NC',\n  description: f.properties?.description || '',\n  reglement_url: f.properties?.reglement_url || '',\n  type_poi: f.properties?.type_poi || null,\n  nom_poi: f.properties?.nom_poi || null,\n  temps_trajet_min: Number(f.properties?.temps_trajet_min || 5),\n  mode_transport: f.properties?.mode_transport || 'pieton',\n  type_nuisance: f.properties?.type_nuisance || null,\n  niveau_bruit_lden_min: Number(f.properties?.niveau_bruit_lden_min || 0),\n  niveau_bruit_lden_max: Number(f.properties?.niveau_bruit_lden_max || 0),\n  commune: f.properties?.commune || 'Angers',\n  geometry_json: JSON.stringify(f.geometry)\n}}));"
      },
      "id": "normalize",
      "name": "Normalize Features",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 260]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.table_target}}",
              "operation": "equal",
              "value2": "geo_plui"
            }
          ]
        }
      },
      "id": "ifPlui",
      "name": "If target = geo_plui",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1090, 260]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO geo_plui (source_feature_id, libelle_zone, description, reglement_url, commune, geom) VALUES ('{{$json.source_feature_id}}','{{$json.libelle_zone}}','{{$json.description}}','{{$json.reglement_url}}','{{$json.commune}}',to_multipolygon_4326('{{$json.geometry_json}}'::jsonb)) ON CONFLICT (source_feature_id) DO UPDATE SET libelle_zone=EXCLUDED.libelle_zone, description=EXCLUDED.description, reglement_url=EXCLUDED.reglement_url, commune=EXCLUDED.commune, geom=EXCLUDED.geom;"
      },
      "id": "upsertPlui",
      "name": "Upsert geo_plui",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 180],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CREDENTIAL",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1; -- placeholder: dupliquez le workflow pour geo_isochrones / geo_nuisances avec les requêtes de database/ingestion_angers_n8n_queries.sql"
      },
      "id": "placeholderOtherTargets",
      "name": "Placeholder other targets",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 340],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_POSTGRES_CREDENTIAL",
          "name": "Supabase Postgres"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]] },
    "Set Config": { "main": [[{ "node": "Fetch Dataset (GeoJSON)", "type": "main", "index": 0 }]] },
    "Fetch Dataset (GeoJSON)": { "main": [[{ "node": "Normalize Features", "type": "main", "index": 0 }]] },
    "Normalize Features": { "main": [[{ "node": "If target = geo_plui", "type": "main", "index": 0 }]] },
    "If target = geo_plui": {
      "main": [
        [{ "node": "Upsert geo_plui", "type": "main", "index": 0 }],
        [{ "node": "Placeholder other targets", "type": "main", "index": 0 }]
      ]
    }
  }
}
